<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col" layout:fragment="content">
                <form action="#" th:action="@{/add}" th:object="${reponse}" method="post">
                    <input type="hidden" id="label" name="label" th:value="true">
                    <input type="submit" value="Ajout des données">
                </form>
            </div>
        </div>
    </div>
</body>

</html>